<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waxom</title>  
    <link rel="stylesheet" href="../base/css/normalize.css">
    <link rel="stylesheet" href="../base/OwlCarousel2-2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../base/OwlCarousel2-2.3.4/assets/owl.theme.default.css">
    <link rel="stylesheet" href="../../www/index.min.css">
</head>
<body>

    <%- include('./../components/header/header.ejs'); -%>
    
    <%- include('./../components/service/service.ejs'); -%>

    <%- include('./../components/waxom-ideas/waxom-ideas.ejs'); -%>

    <%- include('./../components/word-press/word-press.ejs'); -%>

    <%- include('./../components/prodject/prodject.ejs'); -%>
    
    <%- include('./../components/video/video.ejs'); -%>

    <%- include('./../components/mobill-devayce/mobill-devayce.ejs'); -%>

    <%- include('./../components/counters/counters.ejs'); -%>

    <%- include('./../components/recent-posts/recent-posts.ejs'); -%>

    <%- include('./../components/partners/partners.ejs'); -%>

    <%- include('./../components/footer/footer.ejs'); -%>
    
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="../base/OwlCarousel2-2.3.4/owl.carousel.min.js"></script>
    <script src="../base/js/all.js"></script>
    <script src="../base/js/carusel.js"></script>
    <script src="../base/js/script.js"></script>
</body>
</html>